body{
  background-color: #f4c2c2;
  min-height: 70vh;
  padding: 1rem;
  font-family: 'Architects Daughter', cursive;
  font-size: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  color: hsl(198, 1%, 29%);
}

.container{
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  min-width: 250px;
  min-height: 500px;
  max-width: 500px;
  background-color: #f1f5f8;
  background-image:radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  box-shadow: 4px 3px 7px 2px #00000060;
  padding: 1rem;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.heading h1{
  box-sizing: border-box;
  background-color: #fdcb6e;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  box-shadow: 4px 3px 7px 2px #00000060;
}

.form input {
  box-sizing: border-box;
  background-color: transparent;
  border-bottom-left-radius: 3px 15px;
  border-bottom-right-radius: 15px 3px;
  border: solid 3px transparent;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  padding: 0.7rem;
  margin-bottom: 20px;
  border-bottom: 3px dashed #fdcb6e;
  font-family: 'Architects Daughter', cursive;
  font-size: 1rem;
}

button {
  padding: 0;
  border: none;
  font-family: 'Architects Daughter', cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #ffeaa7;
}

button span {
  border: 2px solid hsl(198, 1%, 29%);
  border-radius: 5px;
  background-color: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
}

li {
  box-sizing: border-box;
  box-shadow: 4px 3px 7px 2px #00000060;
  border-radius: 5px;
  position: relative;
  text-align: left;
  padding: 0.5rem;
  margin-bottom: 15px;
}
